In [ ]:
import xlwings as xw
import pandas as pd

def load_isin_df():
    """Load ISIN DataFrame from Excel and return it."""
    wb = xw.Book.caller()
    sheet = wb.sheets['Bench']
    df = sheet.range('IsinList').options(pd.DataFrame, header=1, index=False).value
    # get today from "D2" cell as "YYYYMMDD" format
    dt = sheet.range('D2').value
    dt_str = dt.strftime('%Y%m%d')
    df['date'] = int(dt_str)
    # drop if "bench_id" is empty
    df = df[df['bench_id'].notna()]

    # convert issue_date, maturity, list_date, code_date all to "YYYYMMDD" format
    df['issue_date'] = df['issue_date'].apply(lambda x: x if x in (pd.NaT, None) else int(x.strftime('%Y%m%d')))
    df['maturity'] = df['maturity'].apply(lambda x: x if x in (pd.NaT, None) else int(x.strftime('%Y%m%d')))
    df['list_date'] = df['list_date'].apply(lambda x: x if x in (pd.NaT, None) else int(x.strftime('%Y%m%d')))
    df['code_date'] = df['code_date'].apply(lambda x: x if x in (pd.NaT, None) else int(x.strftime('%Y%m%d')))

    # select df that bench_id starts_from KTB_
    ktb_df = df[df['bench_id'].str.startswith('KTB_')].copy()
    # group by bench_id and add column start and end
    # start is issue_date and the end is the None or min of issue dates among bigger than my issue date
    ktb_df['start'] = ktb_df['issue_date']
    # sort by bench_id and issue_date to get the next issue date
    ktb_df.sort_values(['bench_id', 'issue_date'], inplace=True)
    ktb_df['end'] = ktb_df.groupby('bench_id')['issue_date'].shift(-1)

    other_df = df[~df['bench_id'].str.startswith('KTB_')].copy()
    other_df['end'] = other_df['maturity']
    other_df.sort_values(['bench_id', 'maturity'], inplace=True)
    other_df['start'] = other_df.groupby('bench_id')['maturity'].shift(1)
    
    ktb_res = ktb_df[['date', 'isin', 'start', 'end', 'bench_id']].copy()
    other_res = other_df[['date', 'isin', 'start', 'end', 'bench_id']].copy()

    res = pd.concat([ktb_res, other_res], ignore_index=True)

    return res

xw.Book('D:/Projects/marketdata/MarketData.xlsm').set_mock_caller()

df = load_isin_df()
df

        date          isin       start       end                 bench_id
0   20250425  KR103502GE63    20240610  20241210            KTB_10Y_BENCH
1   20250425  KR103502GEC4    20241210       NaN            KTB_10Y_BENCH
2   20250425  KR103503GE62    20240610       NaN  KTB_10Y_INFLATION_BENCH
3   20250425  KR103504GE95    20240910       NaN            KTB_20Y_BENCH
4   20250425  KR103503GE39    20240310  20240910             KTB_2Y_BENCH
5   20250425  KR103503GE96    20240910  20250310             KTB_2Y_BENCH
6   20250425  KR103501GF30    20250310       NaN             KTB_2Y_BENCH
7   20250425  KR103502GE97    20240910  20250310            KTB_30Y_BENCH
8   20250425  KR103502GF39    20250310       NaN            KTB_30Y_BENCH
9   20250425  KR103501GE64    20240610  20241210             KTB_3Y_BENCH
10  20250425  KR103501GEC6    20241210       NaN             KTB_3Y_BENCH
11  20250425  KR103505GE94    20240910       NaN            KTB_50Y_BENCH
12  20250425  KR103501GE98    20240910  20250310             KTB_5Y_BENCH
13  20250425  KR103503GF38    20250310       NaN             KTB_5Y_BENCH
14  20250425  KR4167VC0005         NaN  20241217                KTBF_10YR
15  20250425  KR4167W30004  20241217.0  20250318                KTBF_10YR
16  20250425  KR4167W60001  20250318.0  20250617                KTBF_10YR
17  20250425  KR4167W90008  20250617.0  20250916                KTBF_10YR
18  20250425  KR4165VC0007         NaN  20241217                 KTBF_3YR
19  20250425  KR4165W30008  20241217.0  20250318                 KTBF_3YR
20  20250425  KR4165W60005  20250318.0  20250617                 KTBF_3YR
21  20250425  KR4165W90002  20250617.0  20250916                 KTBF_3YR
22  20250425  KR4166VC0006         NaN  20241217                 KTBF_5YR
23  20250425  KR4166W30006  20241217.0  20250318                 KTBF_5YR
24  20250425  KR4166W60003  20250318.0  20250617                 KTBF_5YR
25  20250425  KR4166W90000  20250617.0  20250916                 KTBF_5YR
26  20250425  KR4175W50005         NaN  20250519               USDKRW_FUT
27  20250425  KR4175W70003  20250519.0  20250721               USDKRW_FUT
28  20250425  KR4175W80002  20250721.0  20250818               USDKRW_FUT
29  20250425  KR4175WA0006  20250818.0  20251020               USDKRW_FUT
30  20250425  KR4175WB0005  20251020.0  20251117               USDKRW_FUT

In [48]:
df

,prod_type,isin,korean_name,issuer,issue_date,maturity,is_listed,list_date,code_date,bench_id,date
0,채권,KR103503GF38,국고채권 02625-3003(25-3),국고채권,20250310,20300310,상장,20250225,20250219,KTB_5Y_BENCH,20250425
1,채권,KR103502GF39,국고채권 02625-5503(25-2),국고채권,20250310,20550310,상장,20250206,20250124,KTB_30Y_BENCH,20250425
2,채권,KR103501GF30,국고채권 02625-2703(25-1),국고채권,20250310,20270310,상장,20250204,20250123,KTB_2Y_BENCH,20250425
3,채권,KR103502GEC4,국고채권 03000-3412(24-13),국고채권,20241210,20341210,상장,20241022,20241016,KTB_10Y_BENCH,20250425
4,채권,KR103501GEC6,국고채권 02875-2712(24-12),국고채권,20241210,20271210,상장,20241015,20241008,KTB_3Y_BENCH,20250425
5,채권,KR103505GE94,국고채권 02750-7409(24-11),국고채권,20240910,20740910,상장,20240919,20240913,KTB_50Y_BENCH,20250425
6,채권,KR103504GE95,국고채권 02875-4409(24-10),국고채권,20240910,20440910,상장,20240828,20240822,KTB_20Y_BENCH,20250425
7,채권,KR103503GE96,국고채권 02875-2609(24-9),국고채권,20240910,20260910,상장,20240814,20240808,KTB_2Y_BENCH,20250425
8,채권,KR103502GE97,국고채권 02750-5409(24-8),국고채권,20240910,20540910,상장,20240806,20240731,KTB_30Y_BENCH,20250425
9,채권,KR103501GE98,국고채권 03000-2909(24-7),국고채권,20240910,20290910,상장,20240723,20240717,KTB_5Y_BENCH,20250425
10,채권,KR103503GE62,물가연동국고채권 00750-3406(24-6),국고채권,20240610,20340610,상장,20240507,20240503,KTB_10Y_BENCH,20250425
12,선물/옵션,KR4165W90002,3년국채 F 202509,None,NaT,20250916,상장,20250319,20250318,KTBF_3YR,20250425
13,선물/옵션,KR4166W90000,5년국채 F 202509,None,NaT,20250916,상장,20250319,20250318,KTBF_5YR,20250425
14,선물/옵션,KR4167W90008,10년국채 F 202509,None,NaT,20250916,상장,20250319,20250318,KTBF_10YR,20250425
17,선물/옵션,KR4165W60005,3년국채 F 202506,None,NaT,20250617,상장,20241218,20241217,KTBF_3YR,20250425
18,선물/옵션,KR4166W60003,5년국채 F 202506,None,NaT,20250617,상장,20241218,20241217,KTBF_5YR,20250425
19,선물/옵션,KR4167W60001,10년국채 F 202506,None,NaT,20250617,상장,20241218,20241217,KTBF_10YR,20250425
23,선물/옵션,KR4165W30008,3년국채 F 202503,None,NaT,20250318,상장폐지,20240919,20240918,KTBF_3YR,20250425
24,선물/옵션,KR4166W30006,5년국채 F 202503,None,NaT,20250318,상장폐지,20240919,20240918,KTBF_5YR,20250425
25,선물/옵션,KR4167W30004,10년국채 F 202503,None,NaT,20250318,상장폐지,20240919,20240918,KTBF_10YR,20250425
29,선물/옵션,KR4165VC0007,3년국채 F 202412,None,NaT,20241217,상장폐지,20240619,20240618,KTBF_3YR,20250425
30,선물/옵션,KR4166VC0006,5년국채 F 202412,None,NaT,20241217,상장폐지,20240619,20240618,KTBF_5YR,20250425
31,선물/옵션,KR4167VC0005,10년국채 F 202412,None,NaT,20241217,상장폐지,20240619,20240618,KTBF_10YR,20250425
34,선물/옵션,KR4175WB0005,미국달러 F 202511,None,NaT,20251117,상장,20241119,20241118,USDKRW_FUT,20250425
35,선물/옵션,KR4175WA0006,미국달러 F 202510,None,NaT,20251020,상장,20241022,20241021,USDKRW_FUT,20250425
36,선물/옵션,KR4175W80002,미국달러 F 202508,None,NaT,20250818,상장,20240820,20240819,USDKRW_FUT,20250425
37,선물/옵션,KR4175W70003,미국달러 F 202507,None,NaT,20250721,상장,20240716,20240715,USDKRW_FUT,20250425
38,선물/옵션,KR4175W50005,미국달러 F 202505,None,NaT,20250519,상장,20240521,20240520,USDKRW_FUT,20250425